@charset "utf-8";

body {
  background-color: #F2F9FF;
}

.step {
  height: 6em;
  width: 50em;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: -0.1em;
  font-size: 2.5em;
  color: #007350;
}
q {
  font-weight: bold;
}
#controlbox-wrapper {
  text-align: center;
}
